<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>产品分类</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{$Think.config.__ADMIN__}style/adminStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i></i><em>产品分类</em></span>
    <span class="modular fr"><a href="{:url('add')}" class="pt-link-btn">+添加新分类</a></span>
  </div>
  
  <table class="list-style">
   <tr>
    <th>选择</th>
    <th>排序</th>
    <th>序号</th>
    <th>分类名称</th>
    <th>路径</th>
    <th>操作</th>
   </tr>
   <form action="{:url('listord')}" method="post">
  {volist name="data" id="vo"  empty="暂时没有数据" key="m"}

  
   <tr>
    <td>
     <input type="checkbox"  name="id[]" />
    </td>
    <td class="center"><input type="text" value="{$vo.ord}" name="ord[]" style="width:50px;text-align:center;"/></td>
    <input type="hidden" value="{$vo.id}" name='id[]' style="width:50px;text-align:center;"/>
    <td class="center">{$vo.id}</td>
    <td>{$vo.newName}</td>
    <td class="center">{$vo.path}</td>
    
    <td class="center">
        <a class="inline-block" title="编辑" href="update/id/{$vo.id}"><img src="{$Think.config.__ADMIN__}images/icon_edit.gif"/></a>
       <a class="inline-block" title="删除" href="{:url('del',['id'=>$vo.id])}"><img src="{$Think.config.__ADMIN__}images/icon_trash.gif"/></a>

   </tr>
  {/volist}
  </table>
  
  <!-- BatchOperation -->
  <div style="overflow:hidden;">
      <!-- Operation -->
	  <div class="BatchOperation fl">
    
    <input type="submit" value="排序" class="btnStyle"/>
    </div>
    </form>
	  <!-- turn page -->
	  <div class="turnPage center fr">
	   <ul class="pagination">{$page|default=''}</ul>
	  </div>
  </div>
 </div>
  
</body>
</html>