<aside class="menu">
				<ul>
					<li class="person">
						<a href="/centers/index">个人中心</a>
					</li>
					<li class="person" >
						<a href="#">个人资料</a>
						<ul class="dianji" >
							<li  > <a href="/per/index">个人信息</a></li>
							<li> <a href="#">安全设置</a></li>
							<li > <a href="/add/address">收货地址</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="#">我的交易</a>
						<ul class="dianji">
							<li><a href="/order/order">订单管理</a></li>
							<li> <a href="#">退款售后</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="#">我的资产</a>
						<ul class="dianji">
							<li> <a href="#">优惠券 </a></li>
							<li> <a href="#">红包</a></li>
							<li> <a href="#">账单明细</a></li>
						</ul>
					</li>

					<li class="person">
						<a href="#">我的小窝</a>
						<ul class="dianji">
							<li> <a href="#">收藏</a></li>
							<li> <a href="#">足迹</a></li>
							<li> <a href="{:url('/coms/coms')}">评价</a></li>
							<li> <a href="#">消息</a></li>
						</ul>
					</li>

				</ul>

			</aside>
			<script>
				
					
			</script>