<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>订单详情</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{$Think.config.__ADMIN__}style/adminStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="order"></i><em>订单编号：{$data.ordno}</em></span>
  </div>
  <dl class="orderDetail">
   <dt class="order-h">订单详情</dt>
   <dd>
    <ul>
     <li>
      <span class="h-cont h-right">收件人姓名：</span>
      <span class="h-cont h-left">{$data.link}</span>
     </li>
     <li>
      <span class="h-cont h-right">联系电话：</span>
      <span class="h-cont h-left">{$data.phone}</span>
     </li>
     <li>
      <span class="h-cont h-right">联系地址：</span>
      <span class="h-cont h-left">{$data.pname}{$data.cname}{$data.rname}{$data.streetno}</span>
     </li>
     {php}
        $lev=array(1=>'未支付',2=>'待发货',3=>'已发货',4=>'完成');
        {/php}
     <li>
      <span class="h-cont h-right">付款状态：</span>
      <span class="h-cont h-left">{$lev[$data.status]}</span>
     </li>
     <li>
      <span class="h-cont h-right">下单时间：</span>
      <span class="h-cont h-left">{$data.ctime}</span>
     </li>
    </ul>
   </dd>
   <dd style="padding:1em 0;">
    <span><b>订单留言：</b></span>
    <span>...这里是用户留言信息，务必***请到****谢谢~</span>
   </dd>
   <dd>
    <table class="list-style">
     <tr>
      <th>缩略图</th>
      <th>产品</th>
      <th>属性</th>
      <th>单价</th>
      <th>数量</th>
      <th>小计</th>
     </tr>
     {volist name='info' id='vo'}
     <tr>
      <td><img src="/uploads/{$vo.slt}" class="thumbnail"/></td>
      <td>{$vo.goods_name}</td>
      <td>{$vo.attr}</td>
      <td>
       <span>
        <i>￥</i>
        <em>{$vo.price}</em>
       </span>
      </td>
      <td>{$vo.num}</td>
      <td>
       <span>
        <i>￥</i>
        <em>{$vo.total}</em>
       </span>
      </td>
     </tr>
     {/volist}

     <tr>
      <td colspan="5">
       <div class="fr">
        <span style="font-size:15px;font-weight:bold;">
         <i>订单共计金额：￥</i>
         <b>{$money.money}</b>
        </span>
       </div>
      </td>
     </tr>
    </table>
   </dd>
   <dd>
    <table class="noborder">
     <tr>
      <td width="10%" style="text-align:right;"><b>管理员操作：</b></td>
      <td>
       <textarea class="block" style="width:80%;height:35px;outline:none;"></textarea>
      </td>
     </tr>
    </table>
   </dd>
   <dd>
   <form action="{:url('orderlist/fahuo',['id'=>$money.id])}" method="post">
      <!-- Operation -->
	  <div class="BatchOperation">
	   <input type="button" value="打印订单" class="btnStyle"/>
     
	   <input type="submit" value="发货" class="btnStyle"/>
    
	  </div>
     </form>
   </dd>
  </dl>
 </div>
</body>
</html>